/* ==============================
    common css start
=============================== */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

a,
a:focus {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.header h4 {
    font-size: 40px;
    color: #151515;
    font-weight: 700;
    text-align: center;
}

.header p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    line-height: 26px;
    width: 553px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px !important;
}


/* ==============================
    common css end
=============================== */


/* ==============================
        nav bar css start
=============================== */

nav {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
}

nav .button a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #ff0d00;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 25px;
}


/* ==============================
        nav bar css end
=============================== */


/* ==============================
        banner part css start
=============================== */

#banner-part {
    background: url(../images/Banner.svg) no-repeat center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;
}

#banner-part h1 {
    font-size: 52px;
    color: #101010;
    font-weight: 700;
    line-height: 70px;
}

#banner-part h1 span {
    color: #ff0d00;
}

#banner-part p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    line-height: 26px;
    width: 502px;
    margin-top: 30px !important;
}

#banner-part .img {
    margin-top: -135px;
}

#banner-part .img img {
    width: 100%;
}

#banner-part .select-part {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    bottom: 420px;
    /* left: 113px; */
    /* width: 65%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* #banner-part .select-part select {
    width: 22%;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-right: 30px;
    outline: 0;
    font-size: 20px;
    color: #757575;
    font-weight: 400;
    margin-top: 20px;
} */

#banner-part .select-part select {
    width: 22%;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    padding: 20px 50px;
    margin-right: 30px;
    outline: 0;
    font-size: 20px;
    color: #757575;
    font-weight: 400;
    /* margin-top: 20px; */
}

#banner-part .select-part select option {
    font-size: 20px;
    color: #757575;
    font-weight: 400;
}

#banner-part .select-part input {
    width: 47%;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 11px;
    outline: 0;
}

#banner-part .select-part button {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background: #ff0d00;
    border: 1px solid #ff0d00;
    border-radius: 15px;
    padding: 18px 45px;
    margin-left: 20px;
}


/* ==============================
banner part css end
=============================== */


/* ==============================
        selection part css start
        =============================== */

.mid {
    display: none;
}

#selection-part {
    margin-top: -120px;
    padding-bottom: 60px;
}

#selection-part .success-part {
    background: #fff2f2;
    border: 1px solid #ff8079;
    border-radius: 10px;
    padding: 30px;
}

#selection-part .success-part .item p {
    font-size: 16px;
    color: #ff0d00;
    font-weight: 500;
}

#selection-part .success-part .item h3 {
    font-size: 30px;
    color: #151515;
    font-weight: 600;
    line-height: 40px;
    margin-top: 15px;
}

#selection-part .success-part .item h2 {
    font-size: 50px;
    color: #151515;
    font-weight: 700;
    line-height: 40px;
}

#selection-part .success-part .item h6 {
    font-size: 18px;
    color: #737373;
    font-weight: 500;
    line-height: 24px;
    margin-top: 15px;
}

#selection-part .success-part .item .img {
    margin-top: 15px;
}

#selection-part .success-part .item .icon {
    margin-top: 20px;
}

#selection-part .success-part .item .icon span {
    font-size: 16px;
    color: #ffac4a;
}

#selection-part .success-part .item a {
    display: inline-block;
    font-size: 18px;
    color: #ff0d00;
    font-weight: 500;
    margin-top: 20px;
}


/* ==============================
        selection part css end
=============================== */


/* ==============================
        discount part css start
=============================== */

#discount-part {
    padding: 60px 0;
}

#discount-part .discount-item {
    margin-top: 70px;
}

#discount-part .discount-item .inner-item {
    text-align: center;
    padding: 30px;
}

#discount-part .discount-item .inner-item .img {
    margin-top: 30px;
}

#discount-part .discount-item .inner-item .img img {
    width: 100%;
}

#discount-part .discount-item .inner-item .text h4 {
    font-size: 25px;
    color: #404040;
    font-weight: 600;
    line-height: 26px;
    margin-top: 25px;
}

#discount-part .discount-item .inner-item .text p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

#discount-part .discount-item .inner-item h5 {
    font-size: 25px;
    color: #336AFF;
    font-weight: 600;
    line-height: 26px;
    margin-top: 25px;
}


/* ==============================
        discount part css end
=============================== */


/* ==============================
        brand part css start
=============================== */

#brand-part {
    padding: 60px 0;
}

#brand-part .buttons button {
    font-size: 20px;
    color: #707070;
    font-weight: 600;
    background: transparent;
    border: 1px solid #707070;
    border-radius: 8px;
    padding: 8px 28px;
}

#brand-part .buttons .mixitup-control-active {
    background: #ff0d00;
    color: #fff;
    border: 1px solid #ff0d00;
}

#brand-part .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

#brand-part .mix-item {
    width: 32%;
    margin-top: -20px;
}

#brand-part .mix-item .img {
    background: #f3f3f3;
    border-radius: 10px 10px 0 0;
    margin-top: 40px;
    padding: 40px;
    /* text-align: center; */
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-part .mix-item .img img {
    width: 100%;
}

#brand-part .mix-item .text {
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#brand-part .mix-item .text h5 {
    font-size: 25px;
    color: #ff0d00;
    font-weight: 700;
}

#brand-part .mix-item .text a {
    display: inline-block;
    font-size: 18px;
    color: #101010;
    font-weight: 500;
    text-decoration: underline;
}


/* ==============================
        brand part css end
=============================== */


/* ==============================
        about part css start
=============================== */

#about-part {
    padding: 60px 0;
}

#about-part .item {
    position: relative;
}

#about-part .item p {
    font-size: 16px;
    color: #737373;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 480px;
    margin-top: 20px;
}

#about-part .item .bottom .img {
    margin-top: 8px;
}

#about-part .item .bottom h5 {
    font-size: 25px;
    color: #151515;
    font-weight: 700;
}

#about-part .item .bottom p {
    width: 344px;
    margin-top: 15px;
}

#about-part .img {
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#about-part .img img {
    width: 100%;
}

#about-part .item a {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    width: 125px;
    height: 125px;
    text-align: center;
    line-height: 125px;
    background: linear-gradient(230.13deg, rgba(255, 128, 121, 0.5) -81.83%, rgba(255, 30, 30, 0.5) 45.51%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#about-part .item a::after {
    content: '';
    background: linear-gradient(230.13deg, #ff8079 -81.83%, #ff1e1e 45.51%);
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border: #ff1e1e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* ==============================
        about part css end
=============================== */


/* ==============================
        review part css start
=============================== */

#review-part {
    padding: 60px 0 100px 0;
}

#review-part .sliders {
    margin-top: 150px;
}

#review-part .left {
    position: relative;
}

#review-part .left .mini {
    position: absolute;
    top: 0;
    left: 0;
}

#review-part .left .mini2 {
    top: -137px;
    left: 264px;
}

#review-part .left .mini3 {
    top: -18px;
    left: 435px;
}

#review-part .left .mini4 {
    top: 230px;
    left: 0;
}

#review-part .left .icon {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #ff1e1e;
    border: 1px solid #ff1e1e;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 100px;
}

#review-part .text-slider .text .icons span {
    color: #ffac4a;
}

#review-part .text-slider .text p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    width: 453px;
    margin-top: 20px;
}

#review-part .text-slider .text h6 {
    font-size: 20px;
    color: #101010;
    font-weight: 600;
    margin-top: 30px;
}

#review-part .text-slider .nxt {
    font-size: 25px;
    color: #404040;
    position: absolute;
    bottom: -40px;
    left: 65px;
    transition: 0.4s;
}

#review-part .text-slider .prv {
    font-size: 25px;
    color: #404040;
    position: absolute;
    bottom: -40px;
    left: 0;
    transition: 0.4s;
}

#review-part .text-slider .arr:hover {
    color: #FF3654;
}


/* ==============================
        review part css end
=============================== */


/* ==============================
        question part css start
=============================== */

#question-part {
    padding: 60px 0 100px 0;
}

#question-part .accordion-item {
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 #f3f3f3;
}

.accordion-button::after {
    background-image: url(../images/plus.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png);
}

#question-part .accordion-button {
    background: #f3f3f3;
    padding: 30px;
}

#question-part .accordion-button h5 {
    font-size: 20px;
    color: #101010;
    font-weight: 600;
}

#question-part .accordion-body {
    background: #f3f3f3;
    margin-bottom: 25px;
}

#question-part .accordion-body p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    line-height: 26px;
    max-width: 996px;
    transition: 0.4s;
}

.accordion-button:focus {
    border-color: #f3f3f3;
    box-shadow: 0 0 0 0.25rem rgba(245, 246, 248, 0.25);
}


/* ==============================
        question part css end
=============================== */


/* ==============================
        inbox part css start
=============================== */

#inbox-part {
    background: #ff0d00;
    padding: 60px 0;
    position: relative;
}

#inbox-part .text h4 {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

#inbox-part .text p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

#inbox-part form {
    margin-top: 40px;
}

#inbox-part form input {
    width: 90%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

#inbox-part form input::placeholder {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

#inbox-part form button {
    font-size: 20px;
    color: #ff0d00;
    font-weight: 600;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 7px 22px;
    position: absolute;
    top: 100px;
    right: 366px;
}


/* ==============================
        inbox part css end
=============================== */


/* ==============================
        footer part css start
=============================== */

#footer-part {
    background: #181818;
    padding: 100px 0 40px 0;
}

#footer-part p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}

#footer-part .left a {
    display: inline-block;
    width: 46px;
    height: 46px;
    font-size: 20px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 46px;
    margin-right: 15px;
}

#footer-part .links h5 {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

#footer-part .links ul {
    margin-top: 30px;
}

#footer-part .links ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 35px;
}


/* ==============================
        footer part css end
=============================== */